.syntax--json {
  @quoted-color: @light-blue-gray;
  @value-color: @blue;

  .syntax--meta {
    &.syntax--array.syntax--structure .syntax--string.syntax--quoted.syntax--double {
      color: @red;

      > * {
        color: currentColor;

        &.syntax--punctuation {
          &.syntax--begin,
          &.syntax--end {
            color: @quoted-color;
          }
        }
      }
    }

    &.syntax--structure {
      &.syntax--dictionary {
        //necessary to fix softwrapping values in a dictionary not being colored properly
        & > .syntax--value > .syntax--string.syntax--quoted,
        & > .syntax--value > .syntax--string.syntax--quoted > .syntax--punctuation {
          color: @value-color;

          //colors quotes for a dictionary's value
          .syntax--definition.syntax--string.syntax--begin,
          .syntax--definition.syntax--string.syntax--end {
            color: @quoted-color;
          }
        }

        .syntax--string.syntax--quoted {
          color: @yellow;
          font-weight: bold;
        }
      }
    }

    .syntax--punctuation {
      &.syntax--separator.syntax--key-value + .syntax--string.syntax--quoted {
        color: @value-color;

        * {
          color: @quoted-color;
        }
      }
    }
  }

  .syntax--constant {
    &.syntax--language {
      color: @white;
    }
  }
}
